.border-style h1{
    float: left;
    padding: 05px;
    margin: -20px 0 0 30px;
    background: #fff;
    color: #ffa000;
    width: fit-content;
    font-weight: normal;
    font-size: smaller;
}
.border-style{
    margin-top: 10%;
    border:0.5px solid #ffa000;
    padding:10px;
    border-radius: 20px 20px 20px 20px;

}
.mat-tab-label {
    min-width: 2px !important;
    padding: 0.5px;
    color: #0b0f2f;
    font-weight: bold;
    font-size: smaller;
    opacity: 1 ;

    width: fit-content;
}
mat-label  {
    font-weight: bold;
    font-size: smaller;
    width: fit-content;

}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 2px !important;
    padding: 0.5px;
    color: #0b0f2f;
    font-weight: 100;        width: fit-content;


    font-weight: bold;


}
.full-width{
    width: 30%;
}
.mat-form-field {
    font-size: small;
    font-weight: normal;
    line-height: 1.125;
}