
  

<div  fxLayout="column"    class="border-style" style=" border: 0.5px solid #0b0f2f;">
  <h1>config</h1>
 
<mat-tab-group mat-align-tabs="center">
<mat-tab >
  <ng-template mat-tab-label>
    style
  </ng-template>
      <div fxLayout="column"  fxFlex class="border-style"  >
        <h1>Text</h1>
  
        <mat-label class="text-color">Text Color <span style=" color: #ffa000;">*</span>: 
        
            <mcc-color-picker  hideButtons="true"  [selectedColor]="data.textColor" (selected)=" data.textColor =$event ;
          ">
          </mcc-color-picker> 
      
          </mat-label>
        <div  *ngIf="data.type === '1'"> 
            <mat-label  class="text-color" >indicator  <span style=" color: #ffa000;"></span>: </mat-label>

            <mcc-color-picker  hideButtons="true"  [selectedColor]="data.colorSmallWidget"  (selected)=" data.colorSmallWidget =$event ;  "></mcc-color-picker> 
          
      
          </div>
        <div fxLayout="column"   fxFlex>
            <div>
              <ng-container   *ngIf="data.type != '4'; else elseGraphiqueStyle">
                <mat-label  class="text-color">size  <span style=" color: #ffa000;">*</span>: </mat-label>

                <mat-form-field   style="width: 80%;    margin-top: -8%;" >     
                      <mat-select  [(ngModel)]="data.size" >
          <mat-option  value="1" > size</mat-option>
          <mat-option  *ngFor="let item of font_size" [value]="item">{{item}}</mat-option>
         </mat-select> 
        </mat-form-field>

        <div  fxLayout="column"   >
        <mat-label  class="text-color">font
            <span style=" color: #ffa000;">*</span>:
           </mat-label>

        <mat-form-field   style="width: 80%;    margin-top: -8%;" >
    
          <mat-select  [(ngModel)]="data.font" >
            <mat-option  value="font" >font</mat-option>
    
           <mat-option  *ngFor="let item of  font_style" [value]="item">{{item}}</mat-option>
          </mat-select> 
         </mat-form-field>
        </div>
              </ng-container>
              <ng-template #elseGraphiqueStyle>
              <div  fxLayout="column" >
                <mat-label  class="text-color">size  <span style=" color: #ffa000;">*</span>: </mat-label>

                <mat-form-field   style="padding: 1px;
                width: 70%;
                height: 50%; margin-top: -5%;" >                     <mat-select  [(ngModel)]="data.size" >
                      <mat-option  value="1" > size</mat-option>
                      <mat-option  *ngFor="let item of size" [value]="item">{{item}}</mat-option>
                     </mat-select> 
                    </mat-form-field>
                  </div>  
                <div fxLayout="column">
                  <mat-label  class="text-color">font
                    <span style=" color: #ffa000;">*</span>:
                   </mat-label>
                    <mat-form-field   style="padding: 1px;
                    width: 70%;
                    height: 50%;margin-top: -5%;" >
                
                      <mat-select  [(ngModel)]="data.font" >
                        <mat-option  value="font" >font</mat-option>
                
                       <mat-option  *ngFor="let item of  font_style" [value]="item">{{item}}</mat-option>
                      </mat-select> 
                     </mat-form-field>
                    </div>
              </ng-template>
              
    
            </div>
            
                </div>
       

        </div>

                <div fxLayout="column"  fxFlex class="border-style"  >
                    <h1>size</h1>

                 <ng-container *ngIf="data.type == 4; else elseSlidedrGrapique">
                    <div >

                        <mat-label class="text-color">width <span style=" color: #ffa000;"></span>: {{data.width}}px</mat-label>
                
                        <mat-slider min="300" step="0.5" [(ngModel)]="data.width"  max="1000" value="400" >
                        </mat-slider>
                    </div>
                    <div>
                        <mat-label class="text-color">height <span style=" color: #ffa000;"></span>: {{data.height}}px</mat-label>
                
                        <mat-slider min="100" step="0.5"  max="400" value="300"  [(ngModel)]="data.height" (input)=" data.height=$event.value">
                       </mat-slider>
                    </div>
                  </ng-container>
                <ng-template #elseSlidedrGrapique>
                    
                        <div >

                        <mat-label class="text-color">width <span style=" color: #ffa000;"></span>: {{data.width}}%</mat-label>

                        <mat-slider [(ngModel)]="data.width" (input)="data.width=$event.value"></mat-slider>
                        </div>
                        <div>
                        <mat-label class="text-color">height <span style=" color: #ffa000;"></span>: {{data.height}}%</mat-label>

                        <mat-slider [(ngModel)]="data.height" (input)=" data.height=$event.value"></mat-slider>
                        </div>
                </ng-template> 
                
            


            
            </div>


<div fxLayout="column"  fxFlex class="border-style"  >
                    <h1>color</h1>
                    <div fxLayout="row">        
                        <mat-label class="text-color">background<span style=" color: #ffa000;"></span>: 
                          <mcc-color-picker [selectedColor]="data.backgroundColor" hideButtons="true" (selected)=" data.backgroundColor =$event ;">
                        </mcc-color-picker> 
                      
                      </mat-label>
                      </div>
                      
                      <div fxLayout="row" *ngIf="data.type === '1'">
         
                        <mat-label class="text-color"  > Small Card <span style=" color: #ffa000;"></span>: </mat-label>
                        
                          <mcc-color-picker usedColorLabel="backgroundSmallWidget " [selectedColor]="data.backgroundSmallWidget"  hideButtons="true" (selected)=" data.backgroundSmallWidget =$event ;  "></mcc-color-picker> 
                        
                        </div>
                      

    </div>
    
    
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Layout
    </ng-template>
    <div fxLayout="column"  fxFlex class="border-style"  >
      <h1>Dispositions</h1>

      <mat-label class="text-color">Drag and Drop : 
      
       <button mat-button style ="min-width: 0px"(click)="ChangeToDragAndDrop()">
        <mat-icon>control_camera</mat-icon>
       </button>

    
        </mat-label>
    
      </div>
      <div fxLayout="column"  fxFlex class="border-style"  >
        <h1>Permutation</h1>
  
        <mat-label class="text-color">change orders: 
        
         <button mat-button style ="min-width: 0px"(click)="ChangePermutation()">
          <mat-icon>      swap_vertical_circle
          </mat-icon>
          Widget : {{typePermut}}
         </button>
  
      
          </mat-label>
      
        </div>
      <div fxLayout="column"  fxFlex class="border-style"  >
        <h1>Position</h1>
  
        <mat-label class="text-color">absolute : 

       <button  mat-button style ="min-width: 0px"(click)="changePostions(true)">
            <ng-container *ngIf="ModeLayout.postions; else elseTemplate">
              <mat-icon  style="background-color: #ffa000;
              padding: 2px;">        gps_not_fixed
              </mat-icon>
            </ng-container>
            <ng-template #elseTemplate>
              <mat-icon  style="opacity: 0.5;">        gps_not_fixed
              </mat-icon>
            </ng-template>
     
       

    
       </button>
        </mat-label>
        <mat-label class="text-color">fixed : 

       <button    mat-button  style ="min-width: 0px"(click)="changePostions(false)">

        <ng-container *ngIf="ModeLayout.postions; else gps_fixed">
          <mat-icon  style="opacity: 0.5;"
           >        gps_fixed
          </mat-icon>
        </ng-container>
        <ng-template #gps_fixed>
          <mat-icon   style="background-color: #ffa000;
          padding: 2px;">        gps_fixed
          </mat-icon>
        </ng-template>
       </button>
     </mat-label>
  
      
      
        </div>
      <div fxLayout="column"  fxFlex class="border-style"  >
        <h1>Mode Layout</h1>
  
        <mat-label class="text-color">widget indicateur : 
        <div fxLayout="row">
          <button  mat-button style ="min-width: 0px;min-width: 0px;width: 45%; margin-left: -10%;"
          
          (click)="changeModeLayout('column','1')">
            column 
            
          <mat-icon>view_column</mat-icon>
        </button>

             <button   mat-button style ="min-width: 0px"(click)="changeModeLayout('row','1')">
             row: <mat-icon>view_list</mat-icon>       
              </button>

        </div>
       


        <mat-form-field class="full-width">
          <mat-label  class="text-color">ligne widget :</mat-label>
          <input matInput #ligne maxlength="2"  #nbi (input) ="changeNbWidgetLayout(nbi,'1')"  placeholder=number [value]="ModeLayout.nbLigneIn ">
          <mat-hint align="end">{{ligne.value.length}} / 2</mat-hint>
        </mat-form-field>
          </mat-label>
      

          <mat-label class="text-color">widget List : 
            <div fxLayout="row"  fxLayoutAlign="start start">
              <button  mat-button style ="min-width: 0px;min-width: 0px;width: 45%;margin-left: -10%;"
          
              (click)="changeModeLayout('column','2')">
                column 
                
              <mat-icon>view_column</mat-icon>
            </button>
    
                 <button   mat-button style ="min-width: 0px"(click)="changeModeLayout('row','2')">
                 row: <mat-icon>view_list</mat-icon>       
                  </button>
    
            </div>
  
            <mat-form-field class="full-width">
              <mat-label  class="text-color">ligne widget :</mat-label>
              <input matInput #ligne maxlength="2" #nblist (input) ="changeNbWidgetLayout(nblist,'2')"  placeholder=number [value]="ModeLayout.nbLigneList ">
              <mat-hint align="end">{{ligne.value.length}} / 2</mat-hint>
            </mat-form-field>
              </mat-label>



              <mat-label class="text-color">widget Graphique : 
                <div fxLayout="row" fxLayoutAlign="start start">
                  <button  mat-button style ="min-width: 0px;min-width: 0px;width: 45%;margin-left: -10%;"
          
                  (click)="changeModeLayout('column','3')">
                    column 
                    
                  <mat-icon>view_column</mat-icon>
                </button>
        
                     <button   mat-button style ="min-width: 0px"(click)="changeModeLayout('row','3')">
                     row: <mat-icon>view_list</mat-icon>       
                      </button>
        
                </div>
          
                <mat-form-field class="full-width">
                  <mat-label  class="text-color">ligne widget :</mat-label>
                  <input matInput #ligne maxlength="2" #nbGh (input) ="changeNbWidgetLayout(nbGh,'3')"placeholder=number [value]="ModeLayout.nbLigneGh">
                  <mat-hint align="end">{{ligne.value.length}} / 2</mat-hint>
                </mat-form-field>
                  </mat-label>
                
                  <mat-label class="text-color"> all widget  : 
                    <div fxLayout="row"  fxLayoutAlign="start start">
                      <button  mat-button style ="min-width: 0px;min-width: 0px;width: 45%;margin-left: -10%;"
          
                      (click)="changeModeLayout('column','4')">
                        column 
                        
                      <mat-icon>view_column</mat-icon>
                    </button>
            
                         <button   mat-button style ="min-width: 0px"(click)="changeModeLayout('row','4')">
                         row: <mat-icon>view_list</mat-icon>       
                          </button>
            
                    </div>
                   
                    <mat-form-field class="full-width">
                      <mat-label  class="text-color">ligne widget :</mat-label>
                      <input matInput #ligne maxlength="2" #nbAll (input) ="changeNbWidgetLayout(nbAll,'4')" placeholder=number value="2">
                      <mat-hint align="end">{{ligne.value.length}} / 2</mat-hint>
                    </mat-form-field>
                      </mat-label>


        </div>
  </mat-tab>
 
</mat-tab-group>
<div style="padding: 10px;">
  <button mat-raised-button (click)="updateWidget()" color="accent" >Update</button>

</div>
</div>