<mat-toolbar style="height: 7%;"><h6>Widgets Control</h6> </mat-toolbar>

<div gdGap="10px ">
<div fxLayoutAlign="start start" style="padding: 0.5%;">
        <button mat-raised-button color="accent" 
        class="btn-block" 
        style="width: 20%;" (click)="openDialog('Add',{},{})">Add</button>
      </div>
      


    
     <mat-card class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" >
      <mat-form-field style="width: 50%;margin-left: 25%;">
        <mat-label>
          Search by title</mat-label>
        <input matInput #title placeholder="title">




      </mat-form-field>

      <button mat-fab color="primary" (click)="search(title)" aria-label="Example icon button with a delete icon">
        <mat-icon >search</mat-icon>
      </button>
       
      <mat-form-field>
        <mat-label>group by
          : </mat-label>
        <mat-select   #groupe (selectionChange)="getGroupe(groupe.value)">
          <mat-option  value="updateAt" >
             Update Date
          </mat-option  >
          <mat-option value="create_at">
            Creation Date
         </mat-option>
         <mat-option value="type">
            Type      
        </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>order by : </mat-label>
        <mat-select #order (selectionChange)="getOrder(order.value)">
          <mat-option  value='asc'>
            Ascending      
  </mat-option >



          <mat-option value='desc' >
            Descending      </mat-option>
     
        </mat-select>
      </mat-form-field>

    </mat-card>

  
<div fxLayoutAlign="center center" fxLayout="column" class="mat-elevation-z8" >
  
  
<table   mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select"  >
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="make-gold " style="width: 5%;">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
   

    <ng-container matColumnDef="position" >
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element ; let index=index" style="width: 3%;"> {{index+1}} </td>
    </ng-container>
    <ng-container matColumnDef="icon" >
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"  
        style="width: 25%;" > 
        
        <button  mat-button > <mat-icon>visibility</mat-icon></button>
        <button  mat-button  matTooltip="Edit" (click)="openDialog('Update',{},element)">   <mat-icon>edit</mat-icon></button>
        <button  mat-button matTooltip="Copy" (click)="widget_copy('copy',element)">   <mat-icon>file_copy</mat-icon></button>
        <button  mat-button matTooltip="Remove"  (click)="openDialog('Delete',{},element)">   <mat-icon> remove_circle </mat-icon></button>


        </td>
      </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element" > {{element.nameFr | titlecase}} </td>
    </ng-container>
  
    <!-- Weight Column -->
  
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element" style="width: 10%;" > 
         <p >{{types[element.type-1]}}</p> 

      
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="make-gold " ></tr>
    <tr sticky mat-row   *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)" >
    </tr>
    
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef > Creation date </th>
      <td  style="width: 10%;" mat-cell *matCellDef="let element" >  {{element.createAt | date: 'dd/MM/yyyy'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="dateUpadet">
      <th mat-header-cell *matHeaderCellDef  >    
         Update date

    </th>
      <td mat-cell *matCellDef="let element"  > {{element.updateAt | date: 'dd/MM/yyyy'}}
      </td>
    </ng-container>

  </table>
  <mat-paginator [length]="length"
  (page)="pageEvent = $event ; setNewData($event)" style="width: 99%;" [length]="100"
  
  [pageSizeOptions]="pageSizeOptions"   [pageSize]="5"
  showFirstLastButtons class="mat-elevation-z8"></mat-paginator>
</div>

</div>
<ngx-spinner
bdColor="rgba(255,255,255,0.9)"
color="#fff"
[fullScreen] = "true"

>
<div fxLayout="column"  fxLayoutAlign="center center">
<img src='../../../assets/icon/loading2.svg' />
<div fxLayout="row" style="margin-top: -30%;" fxLayoutAlign="center center">
<p>
  Loading
</p>
<img src='../../../assets/icon/loadingText.svg' />
</div>    

</div>

</ngx-spinner>  