table {
    width: 99%;
  }
  .mat-header-cell {
    color: black;
    font-style: gras;
    
}

.bordre{
          border: black;
      }

.mat-raised-button.mat-accent {
        color: white;
    }
    h6{
      font-size: small;
      font-style: oblique;
  }