

<div fxLayout="column" fxLayoutGap="0px" fxFlex="100"  class="box">

    <div fxLayout="row wrap" fxFlex="40" class="headerbox"  fxLayoutAlign="space-between start" >

        <div   class="boxForNumber" fxFlexAlign="start"  fxFlex="none"        >
            <p class="headerText">  <b>{{index}}</b></p> 
         </div>
     
         
        
         <div    fxFlex="nogrow">
            <button mat-button (click)= "updateQuery()"><mat-icon class="icon" matTooltip="Edit" >create</mat-icon></button>   

            <button mat-button (click)= "removeQuery()"><mat-icon class="icon" matTooltip="Remove"  >remove_circle</mat-icon></button>   
        </div>
        <div    fxFlex="grow"  style="margin-top: -15px;" >
         <p   style="text-align: center;
         font-size: x-large;">Filter </p>   
          </div>
    </div>
    
        <mat-card   fxFlex="grow"  fxLayoutAlign="space-around center" >
            
        

              <div [ngSwitch]="type"  fxLayout="column"  fxLayoutAlign="space-around center"> 
                  <div fxLayout="column" >
                  <b>
                  By:    {{ name | titlecase }}
                 </b>

                  </div>
                  <div *ngSwitchCase="'array'"  fxLayout="column">
                    
                    <ng-container *ngIf="valueArray[0].$  == undefined; else object">
                        <b>    value:    {{ valueArray | titlecase }}</b>

                      </ng-container>
                  <ng-template #object>

                    <div *ngFor="let arrayValue of valueArray">
                        <ng-container *ngIf="arrayValue.$.name === value"> 
                            <b>   value:  {{ arrayValue.$.value | titlecase }}</b>

                        </ng-container>
                        

                    </div>

                  </ng-template>
                      
                      
               

                  </div>
                  <div *ngSwitchCase="'date'"  fxLayout="column"   fxLayoutAlign="space-around center">
                     <div>
                      <b>
                        Property:    {{dynamic ? 'Synchronize': property | titlecase }}
                      </b>
                     </div> 
                     <div>
                      <b>
                        value:    {{ dynamic ? dynamicPropertyValueDate : value | titlecase }}
                      </b>
                     </div>
                     
                  </div>
                  <div *ngSwitchCase="'numeric'"  fxLayout="column" fxLayoutAlign="space-around center" >
                 <div> <b>  Property:    {{ property | titlecase }}</b></div>  
                <div> <b>  value:    {{ value | titlecase }} </b></div>   
                  </div>
                  <div *ngSwitchCase="'string'">
                    <b>  value:    {{ value | titlecase }}</b>
                  </div>
                  <div *ngSwitchCase="'boolean'">
                    <b>    value:    {{ value | titlecase }}</b>

                  </div>

                  <div *ngSwitchCase="'session'">
                    <!--<b> value:    {{ value | titlecase }}</b> -->
                  </div>
                  

                  <div *ngSwitchDefault>output2</div>
              </div>
     

       
           
   
    </mat-card>
    

    </div>