

<div fxLayout="column" fxLayoutGap="0px" fxFlex="100"  class="box">

    <div fxLayout="row wrap" fxFlex="40" class="headerbox"  fxLayoutAlign="space-between start" >

        <div   class="boxForNumber" fxFlexAlign="start"  fxFlex="none"        >
            <p class="headerText">  <b>{{index}}</b></p> 
         </div>
     
         
        
         <div    fxFlex="nogrow">
            <button mat-button (click)= "updateQuery()"><mat-icon class="icon" >create</mat-icon></button>   

            <button mat-button (click)= "removeQuery()"><mat-icon class="icon" >remove_circle</mat-icon></button>   
        </div>
        <div    fxFlex="grow"  style="margin-top: -15px;" >
         <p   style="text-align: center;
         font-size: x-large;">Filter </p>   
          </div>
    </div>
    
        <mat-card   fxLayout="column"  fxFlex="grow" fxLayoutAlign="space-around center"  >
                <div   >
                    <b>
                    By:    {{ name | titlecase }}
                                        </b>

                </div>
            
                <div   *ngIf="value.charAt(0) == '#'">
                    <b>
                        {{propertyValueForDate | titlecase }}
                    </b>

                </div>
              
      <p  *ngIf="property != undefined &&property.length !=0 && value.charAt(0) != '#'">
          <b>Property :{{ property  | titlecase}}</b></p>  

       <ng-container *ngIf="value.charAt(0) != '#'">

        <ng-container  *ngIf="valuepropertyOfTypeArray && valuepropertyOfTypeArray == ''  else ValuepropertyOfTypeArray">
            <p > <b>Values ={{value | titlecase}}</b></p> 

        </ng-container>
    
    <ng-template #ValuepropertyOfTypeArray>
        <p > <b>Value ={{valuepropertyOfTypeArray | titlecase}}{{value | titlecase}}</b></p> 
    
    </ng-template>
       </ng-container>
       
           
   
    </mat-card>
    

    </div>