
.icon{
    font-size: 30px;
    color: #ffa200;
}

.headerbox{
background-color:  #0b0f2f;
;    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}

.box{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 9px 19px 18px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 6px 9px 19px 18px rgba(0,0,0,0);
}