<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <img mat-card-image src="../../../assets/icon/sour.png" alt="">
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm"  >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username"  formControlName="username" 
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
        </mat-form-field>
        <div fxLayoutAlign="end end" fxLayout="column">
          <button   (click)="onSubmit()" [disabled]="loading" mat-raised-button color="accent"
           fxFlex="30" class="btn-block">
           <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>

           Log in</button>
          <a [routerLink]="['/signup']">Create a New Account          </a>
        </div>
      </mat-card-content>
    </form>
  </mat-card>



</div>