
.border-style{
    border:0.5px solid #ffa000;
    padding:10px;
    border-radius: 20px 20px 20px 20px;

}
.border-style h1{
    float: left;
    padding: 05px;
    margin: -20px 0 0 30px;
    background: #fff;
    color: #ffa000;
    width: fit-content;
    font-weight: normal;
    font-size: smaller;
}

 #margin{
     margin-top: -5%;
 }
 .task-header {
    background-color: transparent;
    padding: 0 5px;
     height: 20px;
}
.fx-spacer {
    flex: 1 1 auto;
}
mat-card{
    background-color: #ffa000;
    width: 102%;
    height: 20px;
    margin-left: -2.8%;
    margin-top: -2.8%;
}
.mat-form-field{
    padding: 10px;
}

