
.border-style{
    border:0.5px solid #ffa000;
    padding:10px;
    border-radius: 20px 20px 20px 20px;

}

.mcc-color-picker-selector-preview[_ngcontent-xyi-c28] {
    display: none;
}
.border-style h1{
    float: left;
    padding: 05px;
    margin: -25px 0 0 30px;
    background: #fff;
    color: #ffa000;
    width: fit-content;
    font-family: none;
    font-weight: normal;
    font-size: larger;
}

 #margin{
     margin-top: -5%;
 }
 .task-header {
    background-color: transparent;
    padding: 0 5px;
     height: 20px;
}
.fx-spacer {
    flex: 1 1 auto;
}
mat-card{
    background-color: #ffa000;
    width: 103%;
    height: 20px;
    margin-left: -2.8%;
    margin-top: -2.8%;
}
.mat-form-field{
    padding: 10px;
}

.text-color{
    color: #0b0f2f;
    font-weight: normal;
    font-size: smaller;}


.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #070a20;
}
.mat-icon-size{
    font-size: 35px;
    width: 35px;
}