.backgroundImage{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('../../../assets/icon/backround5.jpg');
    background-repeat: round;
    filter: saturate(0.8);
    background-color: #020d48;
}
.full-height {
    height: 100vh;
}
.formSize{
width: 100%;


}
.matCardBackground{
  background-color:#e2910e;
  padding: 10px;
 color: white;
}
.LargeLabel {
    font-size: 5em;
    color: #e2910e;
    margin-top: 25%;
    margin-left: 25%;

  }
  a{
    text-align: right;
    text-decoration: none;
    color: #020d48;
}
  mat-label{
    color: white;
  }

  .smallLabel {
    font-size: 1em;
    color:white;
    
  }
  h1{
    text-align: center;
  }
  .mat-raised-button.mat-accent {
 
    background-color: #020d48;
}
  