

<div fxLayout="row" >
    <div fxFlex="75" class="backgroundImage ">
        <div class="LargeLabel"><h1>WELCOME TO </h1> </div>
        <div class="smallLabel"><h1>Sourcing Force</h1> </div>

    </div>
    
    <div fxFlex>
        <mat-card class="full-height "fxLayout="column" 
        fxLayoutAlign="space-evenly center"  >
            
            
            <div fxLayout="row"  fxLayoutAlign="center start " fxFlex>
                <img src="../../../assets/icon/login.png"
                   style="width: 50%;">
                   
               </div>


    <div fxLayout="column" fxFlex = "80" fxLayoutAlign="  center center  ">
        <div>        <h1>LOGIN TO YOUR ACCOUNT</h1>  
        </div>
          <form class="example-form">
              <mat-form-field class="formSize">
                <input matInput value="Login">
              </mat-form-field>
            
              <mat-form-field class="formSize">
                <mat-label>PassWord</mat-label>
                <textarea matInput placeholder="PassWord"></textarea>
              </mat-form-field>
  
  
              <div >
                <button class="formSize " mat-raised-button color="accent">Accent</button>

                </div>
            </form>
          </div>
    </mat-card>
    </div>

</div>