

<div fxLayout="row" >
    <div fxFlex="75"  la fxLayout="column" class="backgroundImage " fxLayoutAlign="  center center  ">
      <div fxFlexs>
        <h1 class="LargeLabel" > Sourcing Force </h1>
      </div>
      <app-spinner></app-spinner>

    </div>
    <div fxFlex>
        <mat-card class=" matCardBackground full-height "fxLayout="column" 
        fxLayoutAlign="space-evenly center"  >
            
            
            <div fxLayout="row"  fxLayoutAlign="center start " fxFlex>
                <img src="../../../assets/icon/avatar.svg"
                   style="width: 50%;">
                   
               </div>


    <div fxLayout="column" fxFlex ="70"  fxLayoutAlign="  center center  " >
        <div>        <h1 style="    font-family: 'Lalezar', cursive;
          ">LOGIN TO YOUR ACCOUNT</h1>  
        </div>
          <form class="example-form">
              <mat-form-field class="formSize">
                <mat-label>Login</mat-label>

                <input matInput value="">
              </mat-form-field>
            
              <mat-form-field class="formSize">
                <mat-label>PassWord</mat-label>
                <input matInput value="">

              </mat-form-field>
              <div  class="formSize " fxLayout="column">
                <button class="formSize " mat-raised-button color="accent">Log in</button>
                <a [routerLink]="['/signup']">Create a New Account          </a>

              </div>
  
            
            </form>
          </div>
    </mat-card>
    </div>

</div>