<h4 mat-dialog-title>
    <mat-toolbar fxFlex="100%" fxFlexAlign="center" role="toolbar" class="task-header">
        <span>Widget </span>
        <span class="fx-spacer"></span>
        <button mat-icon-button mat-dialog-close  matTooltip="Close">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
  </h4>
  <mat-dialog-content class="mat-typography">
      <div fxLayout="column" fxLayoutAlign="start start"  *ngIf="isActive " fxLayoutGap="25px">

        <mat-card class="mat-elevation-z8"  fxLayout="row" fxFlex="100%" fxFlexFill fxFlexAlign="start" fxLayoutGap="20px" >
          <mat-form-field style="width: 50%;margin-left: 25%;">
            <mat-label>
              Search by title</mat-label>
            <input matInput #title placeholder="title">
    
    
    
    
          </mat-form-field>
    
          <button mat-fab color="primary" (click)="search(title)" [matTooltip]="Search" aria-label="Example icon button with a delete icon">
            <mat-icon class="icon" >search</mat-icon>
          </button>
           
          <mat-form-field>
            <mat-label>group by
              : </mat-label>
            <mat-select   #groupe (selectionChange)="getGroupe(groupe.value)">
              <mat-option  value="updateAt" >
                 Update Date
              </mat-option  >
              <mat-option value="create_at">
                Creation Date
             </mat-option>
             <mat-option value="type">
                Type      
            </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>order by : </mat-label>
            <mat-select #order (selectionChange)="getOrder(order.value)">
              <mat-option  value='asc'>
                Ascending      
      </mat-option >
    
    
    
              <mat-option value='desc' >
                Descending      </mat-option>
         
            </mat-select>
          </mat-form-field>
    
        </mat-card>    
     <div fxLayout="column" >
      <mat-accordion class="mat-elevation-z8" fxFlex="100%" fxFlexFill>
        
        <mat-expansion-panel *ngFor="let widget of listWidget " (afterExpand)="visibilityWidgetForm(widget)" >
          <mat-expansion-panel-header collapsedHeight="100px">
          

              <mat-panel-title fxFlex="50%">
                <div  fxFlexAlign="center" style="font-size: x-large;">
                    {{widget.nameFr | titlecase}} 
                </div>
                          </mat-panel-title>
              <mat-panel-description fxFlex="50%">
           
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
          <div fxLayout="column" >
            <div>Type</div>  
            <div>{{ types[widget.type-1] | titlecase}}</div>  
           </div>
           <div fxLayout="column" >
             <div>Creation date</div>  
             <div>{{widget.createAt | date: 'dd/MM/yyyy'}}</div>  
            </div>
           <div fxLayout="column" >
             <div>Update date</div>  
             <div>{{widget.updateAt | date: 'dd/MM/yyyy'}}</div>  
            </div>
        </div>        

                <span class="fx-spacer"></span>

                <div fxFlexAlign="center">
   <mat-slide-toggle color="primary" [matTooltip]="widget.visible ? 'Deactivate': 'Active'" [checked]="widget.visible"
     (change)="visibilityWidgetAction(widget)">{{widget.visible ? 'Active': 'Deactivate'}}</mat-slide-toggle>

             
                </div>  

              </mat-panel-description>
          </mat-expansion-panel-header>
          <h3><b>Description:</b></h3>
          <div fxLayout="row" fxLayoutGap="20px">
  
          <div fxFlex id="content" class="content">

      <p> {{widget.description}} </p>   

          </div>
          <div [ngSwitch]="widget.type ">
            <div *ngSwitchCase="1">
                <app-indicateur 
                [backgroundColor]=" widget.backgroundSmallWidget "
                [textColor] ="widget.textColor"
                [title]="widget.nameFr" 
                [size] ="widget.size"
                [font]="widget.font"
                [backgroundSmallWidget]="widget.backgroundColor"
                [colorSmallWidget]="widget.colorSmallWidget"
                ></app-indicateur>
              </div>

                <div *ngSwitchCase="2" fxFlex="30%"  fxFlexAlign="center" >

                    <IndicateurListe [backgroundColor]=" widget.backgroundSmallWidget "
                    [textColor] ="widget.textColor"
                    [title]="widget.nameFr" 
                    [size] ="widget.size"
                    [font]="widget.font"
                    [backgroundSmallWidget]="widget.backgroundColor"
                    [colorSmallWidget]="widget.colorSmallWidget"
                    ></IndicateurListe>

                </div>
                
                <div *ngSwitchCase="3"  fxFlex="100%" fxFlexFill fxFlexAlign="center" >
                    <widget-list  
                  [textColor] ="widget.textColor"
                  [title]="widget.nameFr" 
                  [size] ="widget.size"
                  [font]="widget.font"
                  [backgroundColor]=" widget.backgroundColor ">
                  </widget-list>
                </div>
                <div *ngSwitchCase="4"  fxFlex="30%"  fxFlexAlign="center" >
                    <mat-card  fxLayout="row" fxFlexAlign="start" fxLayoutGap="20px" >

                      <app-area [title]="widget.nameFr" [textColor] ="widget.textColor"
                      [title]="widget.nameFr" 
                      [size] ="widget.size"
                      [font]="widget.font"
                      [backgroundColor]=" widget.backgroundColor " [chartOptions]="chartOptions">
                  </app-area>
                  </mat-card>
                </div>
            <div *ngSwitchDefault>output2</div>
          </div>
         
          </div>

        </mat-expansion-panel>
        <mat-expansion-panel 
        (opened)="panelOpenState = true"
     (closed)="panelOpenState = false">
     </mat-expansion-panel>
      </mat-accordion>
      <mat-paginator class="mat-elevation-z8" style = "width:100%" [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event ; getData($event)">
</mat-paginator>  
     </div>
      
<!--
  <div fxLayout="row"  fxLayoutGap="20px" >

  
      

  
 
 


</div>


-->

    </div>
      <div fxFlexOrder="1" [hidden]="spinner " class="spinner-position ">
        <app-spinner ></app-spinner>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="isActive ">
  <button  mat-stroked-button color="warn" mat-dialog-close matTooltip="Cancel">Cancel</button>
</mat-dialog-actions>