<div  [ngStyle]="{'width': width+'%', 'height': height+'%'}">
    <mat-card class="content matCardBackground" [ngStyle]="{'background-color': backgroundSmallWidget , 'color':colorSmallWidget} " fxLayout="column">
<!--        background: linear-gradient(60deg,#ffa726,#ffa726);
-->
      <div fxLayout="row"   fxLayoutGap="10px" >
          <mat-card  fxFlex ="50" class="widget"  [ngStyle]="{'background-color': backgroundColor ,'color':colorSmallWidget}" >
          <div>
            <mat-icon> import_export</mat-icon>
          </div>
          </mat-card>

          <div fxLayout="row" fxFlex fxLayoutAlign="end center">
            <div fxLayout="column"   >
              <div  class="mat-caption" fxFlex  ="10">
                <p [ngStyle]="{ 'color':colorSmallWidget }">core user</p>
              </div>
                <div fxFlex ="10"  >
                <h1 class="indicateurPosition " [ngStyle]="{ 'color':colorSmallWidget ,'font-size':size,'font-weight':font }">{{indicateur}}</h1>
              </div>
          
          </div>
          
          </div>

    </div> 
<div fxLayoutGap="10px" id="content" class="content">

  <mat-divider></mat-divider>

  <p style="margin-top: 2%"  id="test"   [ngStyle]="{'color': textColor ,'font-size':size ,'font-weight':font}">
    
         
    {{title}}  
   </p>
</div>
<div fxLayoutAlign="end end" style="margin-right: 10px;
margin-bottom: 10px;"><mat-icon> assessment</mat-icon>
</div>
    </mat-card>
</div>