:host {
    display: flex;
    flex-direction: column;
    height: 100%;

}
.example-container{
    height: 100%;
    
}
mat-sidenav{
    width: 200px;
}
header{
    width: 100%;
}
.mat-drawer-container {
    color: rgba(0,0,0,.87);
}
h6{
    font-size: small;
}