/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; font-family: 'Lalezar', cursive;}

.success {
    color: white !important;
    background-color:darkgreen !important;

    transform: translate(50%, 50%);
    top: 30%;
    left: 40%;
    position: absolute;
    border-radius: 10%;
    
}

.error {
    color: white !important;
    background-color:darkred !important;
 
    transform: translate(50%, 50%);
    top: 30%;
    left: 40%;
    position: absolute;
    border-radius: 10%;
}
.mat-simple-snackbar-action {
    color: white !important;
}