<mat-toolbar style="height: 7%;"><h6>Dashboard</h6> </mat-toolbar>

    <div            [ngClass]="{'example-boundary': !modeLayout.drag}"
  >
     

<div  fxLayout="column" fxLayoutGap="60px" fxLayoutAlign="space-between start"> 

    <div   [ngClass]="{'border-permutation': modeLayout.permutation}"
    
    (click)="permutation(0)"
     [fxFlexOrder]="letters[0]" cdkDragBoundary=".example-boundary"  
      [fxLayout]="modeLayout.indicateur" style="width: 100%; " fxLayoutGap="15px" 

    
      *ngFor="let item of WidgetIndicator  ">
      <div  fxFlex ="30"
             *ngFor="let list of item ; let index = index  ; "
            cdkDragBoundary=".example-boundary" 
            [ngStyle]="   modeLayout.postions ? {'transform': 'translate(' +  list.positionLeft+ ', ' + list.positionRight  + ')'} : null "


            [ngClass]="{'cursor-move': !modeLayout.drag}"
              cdkDrag  
             (cdkDragEnded)="setWidgetToUpdate(list,$event)"
               matRipple
             matRippleColor="#00000029"

             [cdkDragDisabled] ="modeLayout.drag"
           > 
<ng-container *ngIf="list.type == 1; else elseTemplate" >

    <app-indicateur (click)="setWidgetToUpdate(list)"[backgroundColor]=" list.backgroundSmallWidget "
    [textColor] ="list.textColor"
     [width] ="list.width"
   [title]="list.nameFr" 
   [height]="list.height"
   [size] ="list.size"
   [font]="list.font"
   [backgroundSmallWidget]="list.backgroundColor"
  [colorSmallWidget]="list.colorSmallWidget"
   ></app-indicateur>
</ng-container>
<ng-template #elseTemplate>
    <IndicateurListe  (click)="setWidgetToUpdate(list)" 
    [backgroundColor]=" list.backgroundSmallWidget "
    [textColor] ="list.textColor"
    [width] ="list.width"
   [title]="list.nameFr" 
   [height]="list.height"
   [size] ="list.size"
   [font]="list.font"
   [backgroundSmallWidget]="list.backgroundColor"
  [colorSmallWidget]="list.colorSmallWidget"
  [url] ="list.url"
    
    ></IndicateurListe>

</ng-template>

             
            </div>

    </div>


    <div  [ngClass]="{'border-permutation': modeLayout.permutation}"     (click)="permutation(1)" [fxFlexOrder]="letters[1]"   
      [fxLayout]="modeLayout.list " fxLayoutGap="20px" *ngFor="let item of WidgetList  ">
        <div  fxFlex ="30"  *ngFor="let list of item ; let index = index  ; "       
        [fxFlexOrder]="letters[index+1]"
        [ngClass]="{'cursor-move': !modeLayout.drag}"

        cdkDragBoundary=".example-boundary" cdkDrag   

        [cdkDragDisabled] ="modeLayout.drag"

        (cdkDragEnded)="setWidgetToUpdate(list,$event)"
        [ngStyle]="   modeLayout.postions ? {'transform': 'translate(' +  list.positionLeft+ ', ' + list.positionRight  + ')'} : null "
        >
           
             
                <widget-list     matRipple
                matRippleColor="#00000029" (click)="setWidgetToUpdate(list)" 
                [backgroundColor]=" list.backgroundColor "
                [textColor] ="list.textColor"
                [width] ="list.width"
               [title]="list.nameFr" 
               [height]="list.height"
               [size] ="list.size"
               [font]="list.font"
              url ="api/as"

                style="margin-top: 10%;" [title] ="list.nameFr" >
            
            </widget-list>


         
        </div>

</div>
 

    <div [fxLayout]="modeLayout.graphique " [ngClass]="{'border-permutation': modeLayout.permutation}"    (click)="permutation(2)" [fxFlexOrder]="letters[2]"  fxLayoutAlign="start center"  cdkDragBoundary=".example-boundary"
    
    
     
        fxLayoutGap="10px"  *ngFor="let item of WidgetGraphique  " >
       

        <div  fxFlex  cdkDrag  *ngFor="let list of item ; "     
        cdkDragBoundary=".example-boundary"  
        [ngClass]="{'cursor-move': !modeLayout.drag}"
        [cdkDragDisabled] ="modeLayout.drag"
        
           (cdkDragEnded)="setWidgetToUpdate(list,$event)"
           [ngStyle]="   modeLayout.postions? {'transform': 'translate(' +  list.positionLeft+ ', ' + list.positionRight  + ')'} : null "
           >
    
            <app-area   
            [backgroundColor]=" list.backgroundColor "
            [textColor] ="list.textColor"
            [width] ="list.width"
           [title]="list.nameFr" 
           [height]="list.height"
           [size] ="list.size"
           [font]="list.font"
           (click)="setWidgetToUpdate(list) ; graphiqueComp.updateChartOption(list)"
           
            class="graphique-widget"  #graphiqueComp>
            </app-area>
        
    
    </div>
        </div>
    </div>
    </div>
    <div [hidden]="spinner " class="spinner-position">
      <app-spinner ></app-spinner>
    </div>